@using Domain.StatusUpdates
@inject HttpClient _http

<tr class="notification-table-row" id=@($"statsUpdate_id_{StatusUpdate.Id}")>

    <td>@StatusUpdate.Text</td>

    <td>@StatusUpdate.Alert</td>

    <td>@StatusUpdate.Timestamp.ToShortDateString()</td>

    <!-- Button trigger modal -->
    <td>
        <button type="button"
                class="btn btn-danger m-0"
                data-bs-toggle="modal"
                data-bs-target="#@($"modal_{StatusUpdate.Id}")">
            <span class="oi oi-trash"></span>
        </button>
    </td>
    <RemoveModal
        Id=@StatusUpdate.Id
        Title="Ta bort notifikationen"
        Message="@($"Vill du ta bort notifikationen {StatusUpdate.Text}?")"
        RemovalConfirmed="@(async () => await OnStatusUpdateRemoved.InvokeAsync(StatusUpdate))"/>
</tr>

@code {

    /// <summary>
    /// The status update.
    /// </summary>
    [Parameter, EditorRequired,]
    public StatusUpdate StatusUpdate { get; set; } = new();

    /// <summary>
    /// Called when a status update has been removed successfully.
    /// </summary>
    [Parameter]
    public EventCallback<StatusUpdate> OnStatusUpdateRemoved { get; set; } = EventCallback<StatusUpdate>.Empty;

}
