@using System.Collections.ObjectModel

<div class="d-flex flex-column">
    @for (var i = 0; i < Items.Count; i++)
    {
        string item = Items[i];
        <ListItemInput Id="@i"
                       Item="@item"
                       Placeholder="@Placeholder"
                       EnterPressed="@CreateItem"
                       ValueChanged="@OnValueChanged"/>
    }
    <button type="button" class="btn-secondary" @onclick="CreateItem">Lägg till <span class="oi oi-plus"></span></button>
</div>

@code {

    /// <summary>
    /// The items that have been input into the list.
    /// </summary>
    [Parameter]
    public IList<string> Items { get; set; } = new List<string>();

    /// <summary>
    /// A text placeholder that will be placed inside of the input fields.
    /// </summary>
    public string Placeholder { get; set; } = string.Empty;

    private void CreateItem()
    {
        Items.Add(string.Empty);
    }

    private void OnValueChanged((string value, int id) tuple)
    {
        (string value, int id) = tuple;
        Items[id] = value;
    }

}
