@using Domain.Contracts
@using Newtonsoft.Json
@using System.Net.Http.Headers
@using System.Text.Json
@using Blazorise.Markdown
@inject ILogger<AdminPage> _logger
@inject HttpClient _http

<h4>Skapa nytt kontrakt</h4>

<EditForm Model="@_contract" OnSubmit="OnSubmit">

    <div class="mb-3">
        <label for="contract-title" class="form-label">Titel</label>
        <InputText id="contract-title" class="form-control" placeholder="Kontraktets namn" @bind-Value="@_contract.Name"/>
    </div>
    <div class="mb-3">
        <label for="contract-description" class="form-label">Beskrivning</label>
        <Markdown id="contract-description"
                  @bind-Value="@_contract.Description"
                  MinHeight="@MinFormHeight"
                  Placeholder="T.ex. vad erbjudandet innebär"/>
    </div>
    <div class="mb-3">
        <label for="contract-instructions" class="form-label">Hur man nyttjar erbjudandet</label>
        <Markdown id="contract-instructions"
                  @bind-Value="@_contract.Instructions"
                  MinHeight="@MinFormHeight"
                  Placeholder="T.ex. vilken webbsida man ska gå in på"/>
    </div>
    <div class="mb-3">
        <label for="contract-banner" class="form-label">Banderoll till kontrakt</label>
        <InputFile id="contract-banner" class="form-control" accept=".png, .jpg, .jpeg, .gif" OnChange="(e => OnFileChosen(e, ref _inspirationalContent))"/>
    </div>
    <div class="mb-4">
        <label for="document" class="form-label">Ytterligare dokument eller bild</label>
        <InputFile id="document" class="form-control" accept=".pdf, .docx, .xlsx, .png, .jpg, .jpeg, .gif" OnChange="(e => OnFileChosen(e, ref _additionalDocumentContent))"/>
    </div>

    <hr class="mb-4"/>

    <div class="mb-3">
        <label for="supplier-name" class="form-label">Leverantörens namn</label>
        <InputTextArea id="supplier-name" class="form-control" placeholder="T.ex. Prodigo" @bind-Value="@_contract.SupplierName"/>
    </div>
    <div class="mb-3">
        <label for="supplier-contact-info" class="form-label">Kontaktinformation för leverantören</label>
        <InputTextArea id="supplier-contact-info" class="form-control" placeholder="T.ex. namn, e-mail eller telefonnummer" @bind-Value="@_contract.SupplierContactInfo"/>
    </div>
    <div class="mb-3">
        <label for="supplier-description" class="form-label">Om leverantören</label>
        <Markdown id="supplier-description"
                  @bind-Value="@_contract.SupplierDescription"
                  MinHeight="@MinFormHeight"
                  Placeholder="T.ex. vad leverantören står för"/>
    </div>
    <div class="mb-4">
        <label for="supplier-logo" class="form-label">Leverantörens logotyp</label>
        <InputFile id="supplier-logo" class="form-control" accept=".png, .jpg, .jpeg, .gif" OnChange="(e => OnFileChosen(e, ref _supplierLogoContent))"/>
    </div>

    <button type="submit" class="btn btn-primary mb-3">Spara</button>

</EditForm>

@code {

    /// <summary>
    /// Called when a contract has been submitted successfully.
    /// </summary>
    [Parameter]
    public EventCallback<Contract> OnContractUploaded { get; set; } = EventCallback<Contract>.Empty;

    private bool _shouldRender;

    private Contract _contract = CreateEmptyContract();

    private MultipartFormDataContent _supplierLogoContent = new MultipartFormDataContent();

    private MultipartFormDataContent _inspirationalContent = new MultipartFormDataContent();

    private MultipartFormDataContent _additionalDocumentContent = new MultipartFormDataContent();

        private const string MinFormHeight = "5rem";

    private static Contract CreateEmptyContract()
    {
        return new Contract
        {
            Name = string.Empty,
            Description = string.Empty,
            Instructions = string.Empty,
            SupplierLogoImagePath = string.Empty,
            SupplierName = string.Empty,
            SupplierContactInfo = string.Empty,
            SupplierDescription = string.Empty,
        };
    }

    /// <inheritdoc />
    protected override bool ShouldRender()
    {
        return _shouldRender;
    }

    private void OnFileChosen(InputFileChangeEventArgs arg, ref MultipartFormDataContent content)
    {
        _shouldRender = false;

        content = new MultipartFormDataContent();
        StreamContent fileContent;

        const long bitsInAKilobyte = 1024;
        const long kilobytesInAMegabyte = 1024;
        const long maxFileSize = bitsInAKilobyte * kilobytesInAMegabyte * 100;

        try
        {
            fileContent = new StreamContent(arg.File.OpenReadStream(maxFileSize));
        }
        catch (IOException ex)
        {
            _logger.LogInformation(
                "{FileName} not uploaded: {Message}",
                arg.File.Name, ex.Message);
            return;
        }

        fileContent.Headers.ContentType =
            new MediaTypeHeaderValue(arg.File.ContentType);

        content.Add(
            fileContent,
            "\"file\"",
            arg.File.Name);

        _shouldRender = true;
    }

    private async Task OnSubmit()
    {
        _contract.SupplierLogoImagePath = await UploadFile(_supplierLogoContent, "images");

        _contract.InspirationalImagePath = await UploadFile(_inspirationalContent, "images");

        _contract.AdditionalDocument = await UploadFile(_additionalDocumentContent, "documents");

        await UploadContract();
    }

    private async Task<string> UploadFile(MultipartFormDataContent content, string endPoint)
    {
        if (content is null) return string.Empty;

        try
        {
            HttpResponseMessage response = await _http.PostAsync($"/api/v1/{endPoint}", content);

            if (response.IsSuccessStatusCode)
            {
                string imageLocation = await response.Content.ReadAsStringAsync();
                return imageLocation;
            }
            throw new ArgumentException(nameof(content));
        }
        finally
        {
            content.Dispose();
        }
    }

    private async Task UploadContract()
    {
        HttpResponseMessage response = await _http.PostAsJsonAsync("/api/v1/contracts", _contract);
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("successfully uploaded!");
            await OnContractUploaded.InvokeAsync(_contract);
            _contract = CreateEmptyContract();
        }
    }

}
