@using Domain.StatusUpdates

<h4>Skicka ut ny notifikation</h4>
<EditForm Model="@_statusUpdate">
    <div class="mb-3">
        <label for="alert" class="form-label">Notifikations typ</label>
        <InputSelect id="alert" class="form-control" @bind-Value="@_statusUpdate.Alert">
            @foreach (var alertOption in  Enum.GetValues(typeof(AlertLevel)))
            {
                <option value="@alertOption">@alertOption</option>
            }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Informations text</label>
        <InputText id="text" class="form-control" placeholder="Notifikationens innehåll" @bind-Value="@_statusUpdate.Text"/>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Skicka</button>

</EditForm>


@code {

    /// <summary>
    /// Called when a StatusUpdate has been submitted successfully.
    /// </summary>
    [Parameter]
    public EventCallback<StatusUpdate> OnNotificationSent { get; set; } = EventCallback<StatusUpdate>.Empty;

    private StatusUpdate _statusUpdate = CreateEmptyStatusUpdate();

    private static StatusUpdate CreateEmptyStatusUpdate()
    {
        return new StatusUpdate
        {
            Alert = AlertLevel.Information,
            Timestamp = DateTime.Now,
            Text = string.Empty,
        };
    }

}
