@using Domain.Users
@inject HttpClient _http

<tr class="user-list-item" id=@($"user_id_{User.Id}")>

    <td>@User.Name</td>

    <td>@User.Company</td>

    <td>@User.LatestPaymentDate.ToShortDateString()</td>

    <!-- Button trigger modal -->
    <td>
        <button type="button" class="btn btn-danger m-0" data-bs-toggle="modal" data-bs-target="#@($"modal_{User.Id}")">
            <span class="oi oi-trash"></span>
        </button>
    </td>
    <UserRemoveModal User="@User" OnUserRemoved="@OnUserRemoved"/>
</tr>

@code {

    /// <summary>
    /// Called when a user has been removed successfully.
    /// </summary>
    [Parameter]
    public EventCallback<User> OnUserRemoved { get; set; } = EventCallback<User>.Empty;

    /// <summary>
    /// The user.
    /// </summary>
    [Parameter, EditorRequired,]
    public User User { get; set; } = new();

}
