<div class="accordion-item">
    <h2 class="accordion-header" id="@HeaderId">
        <button class="accordion-button @ButtonClass" type="button" data-bs-toggle="collapse" data-bs-target="#@PanelId" aria-expanded="@OpenByDefault.ToString().ToLowerInvariant()" aria-controls="#@PanelId">
            @Title
        </button>
    </h2>
    <div id="@PanelId" class="accordion-collapse collapse @ShowClass" aria-labelledby="@HeaderId">
        <div class="accordion-body">
           @Body
        </div>
    </div>
</div>

@code {

    /// <summary>
    /// What to render as the heading.
    /// </summary>
    [Parameter, EditorRequired,]
    public RenderFragment? Title { get; set; }

    /// <summary>
    /// What to render as the body content.
    /// </summary>
    [Parameter, EditorRequired,]
    public RenderFragment? Body { get; set; }

    /// <summary>
    /// Whether the accordion is expanded at first render or not.
    /// </summary>
    [Parameter]
    public bool OpenByDefault { get; set; } = false;

    private Guid _id;

    private string HeaderId => $"id-{_id}";

    private string PanelId => $"panel-{HeaderId}";

    private string ShowClass => OpenByDefault ? "show" : string.Empty;

    private string ButtonClass => OpenByDefault ? string.Empty : "collapsed";

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        _id = Guid.NewGuid();
    }
}
